<div class="card">
  <div class="card-block">
    <p class="card-text">
      jeweler-account works!
    </p>

    <ngb-tabset>

      <ngb-tab title="Reward Card">
        <template ngbTabContent>
          <pd-reward-card></pd-reward-card>
        </template>
      </ngb-tab>

      <ngb-tab title="Contract">
        <template ngbTabContent>
          <pd-contract-info></pd-contract-info>
        </template>
      </ngb-tab>

      <ngb-tab title="Personal Web Page">
        <template ngbTabContent>
          <pd-personal-webpage></pd-personal-webpage>
        </template>
      </ngb-tab>

      <ngb-tab title="eComm Settings">
        <template ngbTabContent>
          <pd-personal-ecommerce></pd-personal-ecommerce>
        </template>
      </ngb-tab>
    </ngb-tabset>

  </div>
</div>

<pre>
  <ol class="list-unstyled">
    <li>Contracts/Renewals
      <ul>
        <li>New Contracts</li>
        <li>Training Show Verification?</li>
        <li>My Renewal Contract</li>
        <li>Pre-Pay my next Annual Renewal Fee</li>
      </ul>
    </li>
    <li>Jeweler Rewards Card
      <ul>
        <li>Application Process?</li>
        <li>Credit Application</li>
        <li>Jeweler Rewards Card History</li>
        <li>Rewards</li>
        <li>Pay Bill Online</li>
        <li>Rewards Card Points Chart</li>
        <li>Rewards Card Points Redemption Form</li>
      </ul>
    </li>
    <li>Internet Policy?</li>
    <li>Tax Information
      <ul>
        <li>Tax Rate Calculator</li>
        <li>Income Taxes</li>
        <li>IRS Tax Info</li>
      </ul>
    </li>
  </ol>
</pre>
