<div class="card">
  <div class="card-block">
    <p class="card-text">
      jeweler-account works!
    </p>

    <ngb-tabset>
      <ngb-tab title="Simple">
        <template ngbTabContent>
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
            dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
            iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </template>
      </ngb-tab>
      <ngb-tab>
        <template ngbTabTitle><b>Fancy</b> title</template>
        <template ngbTabContent>Food truck fixie locavore, accusamus mcsweeney's marfa nulla single-origin coffee squid.
          <p>Exercitation +1 labore velit, blog sartorial PBR leggings next level wes anderson artisan four loko farm-to-table
            craft beer twee. Qui photo booth letterpress, commodo enim craft beer mlkshk aliquip jean shorts ullamco ad vinyl
            cillum PBR. Homo nostrud organic, assumenda labore aesthetic magna delectus mollit. Keytar helvetica VHS salvia
            yr, vero magna velit sapiente labore stumptown. Vegan fanny pack odio cillum wes anderson 8-bit, sustainable jean
            shorts beard ut DIY ethical culpa terry richardson biodiesel. Art party scenester stumptown, tumblr butcher vero
            sint qui sapiente accusamus tattooed echo park.</p>
        </template>
      </ngb-tab>
      <ngb-tab title="Disabled">
        <template ngbTabContent>
          <p>Raw denim you probably haven't heard of them jean shorts Austin. Nesciunt tofu stumptown aliqua, retro synth
            master cleanse. Mustache cliche tempor, williamsburg carles vegan helvetica. Reprehenderit butcher retro keffiyeh
            dreamcatcher synth. Cosby sweater eu banh mi, qui irure terry richardson ex squid. Aliquip placeat salvia cillum
            iphone. Seitan aliquip quis cardigan american apparel, butcher voluptate nisi qui.</p>
        </template>
      </ngb-tab>
    </ngb-tabset>

  </div>
</div>

<pre>
  <ol class="list-unstyled">
    <li>Contracts/Renewals
      <ul>
        <li>New Contracts</li>
        <li>Training Show Verification?</li>
        <li>My Renewal Contract</li>
        <li>Pre-Pay my next Annual Renewal Fee</li>
      </ul>
    </li>
    <li>Jeweler Rewards Card
      <ul>
        <li>Application Process?</li>
        <li>Credit Application</li>
        <li>Jeweler Rewards Card History</li>
        <li>Rewards</li>
        <li>Pay Bill Online</li>
        <li>Rewards Card Points Chart</li>
        <li>Rewards Card Points Redemption Form</li>
      </ul>
    </li>
    <li>Internet Policy?</li>
    <li>Tax Information
      <ul>
        <li>Tax Rate Calculator</li>
        <li>Income Taxes</li>
        <li>IRS Tax Info</li>
      </ul>
    </li>
  </ol>
</pre>
