<h4>{{ title }}</h4>
<div class="row">
  <div class="col-sm-12 col-xl-9">
    <!--Edit profile card-->
    <div class="card">
      <div>
        <ngb-tabset type="tabs">
          <ngb-tab title="Mailing">
            <template ngbTabContent>
                <pd-shipping-info [jeweler]="jeweler"></pd-shipping-info>
            </template>
          </ngb-tab>
          <ngb-tab title="Billing">
            <template ngbTabContent>
              <pd-billing-info [jeweler]="jeweler"></pd-billing-info>
            </template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>
  </div>
  <div class="col-sm-12 col-xl-3">
    <!--Profile Card-->
    <div class="card">
      <img class="card-img-top img-fluid" src="https://source.unsplash.com/category/nature" alt="image">
      <div class="card-block">
        <h6 class="card-title ext-md-center">{{ jeweler.firstName }} {{ jeweler.middleName }} {{ jeweler.lastName }}<br>
          <small>J123456</small>
        </h6>
        <p class="card-text"><b>Start Date: </b> {{ jeweler.startDate }}</p>
        <p class="card-text"><b>Anniversary Date: </b> {{ jeweler.anniversaryDate }}</p>
      </div>
    </div>
  </div>

</div>


<pre>
  <code>
    #### FUNCTIONALITY

    - Jeweler can edit their profile information
    - Connect their various social media accounts:
      - Facebook, Twitter, Instagram, SnapChat
    - Shipping and Billing tabs for switching between what information is being edited
      - Check box at the top of billing for "Billing same as shipping"

    #### DATA
    - Jeweler personal info
      - Name (first, middle, last)
      - Address (address, city, state, zip)
      - Email
      - Phone

    #### QUESTIONS

    Tim - view/edit: different?

  </code>
</pre>
