<div class="row">

  <div class="col-sm-12 col-lg-8">

    <div class="ui fluid card mb-3">
      <div class="content">
        <div class="header">Addresses</div>
      </div>
      <div class="content">
        <ngb-tabset type="pills">
          <ngb-tab title="Mailing">
            <template ngbTabContent>
              <pd-shipping-info [jeweler]="jeweler"></pd-shipping-info>
            </template>
          </ngb-tab>
          <ngb-tab title="Billing">
            <template ngbTabContent>
              <pd-billing-info [jeweler]="jeweler"></pd-billing-info>
            </template>
          </ngb-tab>
          <ngb-tab>
            <template ngbTabTitle><i class="add circle icon"></i> New </template>
            <template ngbTabContent>
              Add a new address
            </template>
          </ngb-tab>
        </ngb-tabset>
      </div>
    </div>

    <div class="ui fluid card mb-3">
      <div class="content">
        <div class="header">Social Links</div>

        <div class="row mb-3">
          <div class="col-2 text-center">
            <i class="facebook icon py-4"></i>
          </div>
          <div class="col-8">
            <div class="ui fluid labeled input">
              <div class="ui label">
                https://www.facebook.com/
              </div>
              <input type="text" placeholder="mysite.com">
            </div>
          </div>
          <div class="col-2">
            <button class="ui button">Preview</button>
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="row mb-3">
          <div class="col-2 text-center">
            <i class="instagram icon py-4"></i>
          </div>
          <div class="col-8">
            <div class="ui fluid labeled input">
              <div class="ui label">
                https://www.instagram.com/
              </div>
              <input type="text" placeholder="mysite.com">
            </div>
          </div>
          <div class="col-2">
            <button class="ui button">Preview</button>
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="row mb-3">
          <div class="col-2 text-center">
            <i class="pinterest large icon"></i>
          </div>
          <div class="col-8">
            <div class="ui fluid labeled input">
              <div class="ui label">
                https://www.pinterest.com/
              </div>
              <input type="text" placeholder="mysite.com">
            </div>
          </div>
          <div class="col-2">
            <button class="ui button">Preview</button>
          </div>
        </div>

        <div class="ui divider"></div>

        <div class="row mb-3">
          <div class="col-2 text-center">
            <i class="plus circle large icon"></i>
          </div>
          <div class="col-8">
            <a href="#">Add Social Link</a>
          </div>
        </div>

      </div>

      <div class="content p-4">
        <p>
          If you leave any of the above links blank, these links on your web site will default to the Premier Designs
          social media accounts.
        </p>
        <p>
          By entering a custom social media link above, you agree to adhere to the Premier Designs Social Media Policy.
          We withhold the right to remove any content that the Policies and principles of Premier Designs.
        </p>
        <p>
          You can visit our social media profiles by clicking on the icons below.
        </p>
      </div>

    </div>

  </div>

  <div class="col-sm-12 col-lg-4">

    <div class="ui card fluid mb-3">
      <div class="content">
        <div class="header">{{jeweler.firstName}} {{jeweler.lastName}}</div>
      </div>
    </div>

    <div class="ui fluid card mb-3">
      <div class="content">
        <div class="header">Contact Info</div>
      </div>
    </div>

    <div class="ui fluid card mb-3">
      <div class="content">
        <div class="header">My Upline</div>
      </div>
    </div>

  </div>

</div>
