<div class="card">
  <div class="card-block">
    <h4 class="card-title">
      Creative Resources
    </h4>
    <p class="card-text">
      This page will hold all of the creative resources for jewelers on a single full-page card with filters along the top to find exactly what they need.
    </p>
  </div>
</div>



<markdown>
  #### FUNCTIONALITY

  - This page will be similar to the [Jeweler Resources](https://jeweler.premierdesigns.com/en/resources) page that the jewelers have now.
  - Jewelers can download, print, or add to one of their connected social media accounts directly from this page.

  #### DATA

  * Marketing resources for jewelers from Epi
    * Ideally, marketing would put resources in Epi CMS and then pull into here for display in a grid style

</markdown>
