<pd-orders-stats></pd-orders-stats>

<div class="card">
  <div class="card-block">
    <h4 class="card-title">
      Creative Resources
    </h4>
    <p class="card-text">
      This page will hold all of the creative resources for jewelers on a single full-page card with filters along the top to find exactly what they need.
    </p>

    <div class="row">
      <div class="col-sm-12 col-sm-6 col-md-3 col-lg-2 resCard pr-0" *ngFor="let resource of resources" [ngStyle]="{'background-image': 'url(' + resource.url + ')'}">
        <span class="social-share float-sm-right text-sm-right">
          <ul class="list-inline">
            <li class="list-inline-item">
              <a>
                <i class="icon-social-facebook"></i>
              </a>
            </li>
            <li class="list-inline-item">
              <a>
                <i class="fa fa-fw fa-envelope-o"></i>
              </a>
            </li>
          </ul>
        </span>
        <!--<img class="img-fluid" src="https://source.unsplash.com/random">-->
        <p class="lead">{{resource.title}}</p>
      </div>
    </div>

    <!--<div class="row">-->
      <!--<div class="col-sm-12 col-lg-2" *ngFor="let resource of resources">-->
        <!--<div class="card card-inverse">-->
          <!--<img src="{{resource.url}}" alt="..." class="card-img img-fluid">-->
          <!--<div class="card-img-overlay">-->
            <!--<p class="card-text">{{resource.title}}</p>-->
            <!--<p class="card-text">{{resource.description}}</p>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

  </div>
</div>



<pre>
  #### FUNCTIONALITY

  - This page will be similar to the [Jeweler Resources](https://jeweler.premierdesigns.com/en/resources) page that the jewelers have now.
  - Jewelers can download, print, or add to one of their connected social media accounts directly from this page.

  #### QUESTIONS

  #### IDEAS

  - Ability to drag-and-drop images to an email
  - Function to 'favorite' images or create a favorites list

  #### DATA

  * Marketing resources for jewelers from Epi
    * Ideally, marketing would put resources in Epi CMS and then pull into here for display in a grid style

</pre>
