<div class="ui segment">

  <h1 class="ui header">Creative Resources</h1>

  <div class="ui fluid text menu">
    <div class="item header">
      FILTER BY:
    </div>
    <a class="item">
      <i class="large lightbulb icon"></i>
    </a>
    <a class="item">
      <i class="large camera retro icon"></i>
    </a>
    <a class="item">
      <i class="large film icon"></i>
    </a>
  </div>

  <div class="ui divider"></div>

  <div class="ui eight doubling cards">
    <a class="card" *ngFor="let resource of resources" href="{{resource.url}}">
      <div class="image">
        <img src="http://placehold.it/500x300">
      </div>
      <div class="content">
        <div class="header">{{resource.title}}</div>
        <div class="meta">{{resource.fileType}}</div>
      </div>
    </a>
  </div>
</div>
