@import "../../pdi-colors";

.card.card-inverse {
  overflow: hidden;
}

.card-deck .card:hover {
  box-shadow: 0 1px 1px rgba(0,0,0,0.3);
  cursor: pointer;

  .card-img-overlay {
    opacity: 1;
  }

  .card-block {
    padding: 0 0 0 0;
  }
}

//.card .card-footer {
//  height: 0px;
//  opacity: 0;
//
//  transition: height 250ms ease, visibility 250ms ease, opacity 250ms linear;
//  -webkit-transition: height 250ms ease, visibility 250ms ease, opacity 250ms linear;
//}

.card-img-overlay {
  bottom: 41px;
  opacity: 0;
  background-color: fade(#fff, 90%);

  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.card-block {
  -webkit-transition: all 250ms ease;
  transition: all 250ms ease;
}

.card-columns {
  column-count: 4;
}
