<div class="ui segment">
  <h1>CONTACTS</h1>

  <p>The following information is supplied to you for your convenience so that we might serve you better.</p>

  <a href="#">SR. LEADER DIRECTORY Leadership Directory</a>


  <h3>E-MAIL:</h3>
  <div class="row mb-2">
    <div class="col">
      <a class="ui large blue image label">
        <i class="mail icon"></i> Customer Service
        <div class="detail">
          service@premierdesigns.com
        </div>
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col">
      <a class="ui orange image label">
        <i class="mail icon"></i> Marketing Services
        <div class="detail">
          marketingservices@premierdesigns.com
        </div>
      </a>
    </div>
  </div>

  <div class="ui message">
    <p>
      Please provide your <a>Jeweler Number</a> when emailing.
    </p>
  </div>

  <h3>PHONE NUMBERS:</h3>

  <div class="ui grid">

    <div class="three wide column">
      <a class="ui blue image label">
        <i class="phone icon"></i> Customer Service:
        <div class="detail">
          (800) 486-7378
        </div>
      </a>
    </div>

    <div class="three wide column">
      <a class="ui yellow image label">
        <i class="phone icon"></i> Local Number:
        <div class="detail">
          (972) 550-0955
        </div>
      </a>
    </div>

    <div class="three wide column">
      <a class="ui pink image label">
        <i class="phone icon"></i> Accounting:
        <div class="detail">
          (800) 883-2228
        </div>
      </a>
    </div>

    <div class="three wide column">
      <a class="ui green image label">
        <i class="phone icon"></i> New Contracts:
        <div class="detail">
          (800) 400-0733
        </div>
      </a>
    </div>

    <div class="three wide column">
      <a class="ui grey image label">
        <i class="phone icon"></i> Administration:
        <div class="detail">
          (800) 899-0092
        </div>
      </a>
    </div>

  </div>

  <h3>FAX NUMBER:</h3>
  <p>(972) 580-8222</p>
  <address>
    MAILING ADDRESS:<br>
    P.O. Box 619220<br>
    Dallas, Texas 75261-9220
  </address>
  <address>
    PHYSICAL ADDRESS:<br>
    1551 Corporate Drive<br>
    Irving, Texas 75038-2431
  </address>

</div>
