<div class="card">
  <div class="card-block">
    <h4 class="card-title">
      Family Tree
    </h4>
    <p class="card-text">
      Single, full-page card showing a jeweler their "family tree".<br>Large left section with faces in "bubble" smaller section to the right with filtered data.<br />
      Icon filters along the top to drill-down to specific information.
    </p>
  </div>
</div>



<pre>
  <markdown>
    #### FUNCTIONALITY

    - Easier, simpler access to how the jewelers 'family' (downline) is doing
    - Ability to attach a name with a face by bringing in that jeweler's profile picture that they have put on their portal
    - Cards will show quick snap-shots of 10-10-10, CV and Recognition Report data grouped by "family level"
    - Ability to see who has registered for events, progress towards goals and promotions, how they are performing for the month, etc
    - Reporting to drill-down into more specific data if they want

    #### QUESTIONS
    #### IDEAS
    #### DATA
  </markdown>
</pre>
