<h4>{{title}}</h4>

<div class="card">
  <div class="card-block">
    <div class="row">
      <div class="col-sm-12 col-lg-8">
        <pd-my-family [jeweler]="jeweler" [downlinePeople]="downlinePeople" [firstLevel]="firstLevel"></pd-my-family>
      </div>
      <div class="col-sm-12 col-lg-4">
        <pd-data-cards></pd-data-cards>
      </div>
    </div>
  </div>
</div>



<pre>
  <code>
    #### FUNCTIONALITY

    Single, full-page card showing a jeweler their "family tree".
    Large left section with faces in "bubble" smaller section to the right with filtered data.
    Icon filters along the top to drill-down to specific information.

    - Easier, simpler access to how the jewelers 'family' (downline) is doing
    - Ability to attach a name with a face by bringing in that jeweler's profile picture that they have put on their portal
    - Cards will show quick snap-shots of 10-10-10, CV and Recognition Report data grouped by "family level"
    - Ability to see who has registered for events, progress towards goals and promotions, how they are performing for the month, etc
    - Reporting to drill-down into more specific data if they want

    #### QUESTIONS
    #### IDEAS
    #### DATA
  </code>
</pre>
