<pd-orders-stats></pd-orders-stats>

<div class="row">
  <div class="col">
    <img src="../../assets/images/outlook-calendar.PNG" class="img-fluid">
  </div>
</div>

<!--<ul class="nav justify-content-end breadcrumb" role="tablist">-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link active" href="#important-dates" data-toggle="tab" role="tab">Important Dates</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">2017 DLT</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">2017 National Rally</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">Haven of Hope Retreats</a>-->
  <!--</li>-->
  <!--<li class="nav-item">-->
    <!--<a class="nav-link" href="#">Local Trainings</a>-->
  <!--</li>-->
<!--</ul>-->

<pre>
  #### FUNCTIONALITY
  * Ability to create a new event (Jewelry Show, Local Training, Meetup)
  * See upcoming events and information about the event
  * Share event to social media

  #### QUESTIONS

  #### IDEAS

  #### DATA
</pre>
