@pdi-purple: #975fa7;
@pdi-orange: #f0473d;
@pdi-pink: #e8417b;
@pdi-green: #72c596;
@pdi-blue: #59c5c7;
@pdi-grey: #8a8c8d;

@pdi-purple-compDark: #502A5A;
@pdi-orange-compDark: #A32119;
@pdi-pink-compDark: #9B1C48;
@pdi-green-compDark: #3A7855;
@pdi-blue-compDark: #2B797A;
@pdi-grey-compDark: #393E40;

@pdi-purple-compLight: #A97AB6;
@pdi-orange-compLight: #FF645A;
@pdi-pink-compLight: #F75E93;
@pdi-green-compLight: #90D4AD;
@pdi-blue-compLight: #75D4D6;
@pdi-grey-compLight: #9C9C9C;

@pdi-purple-rgb: rgb(151, 95, 167);
@pdi-orange-rgb: rgb(240, 71, 61);
@pdi-pink-rgb: rgb(232, 65, 123);
@pdi-green-rgb: rgb(114, 197, 150);
@pdi-blue-rgb: rgb(89, 197, 199);
@pdi-grey-rgb: rgb(138, 140, 141);

tr.selected {
  font-weight: bold;

  td i {

  }
}

.ordInfo {
  display: block;
  height: 100%;
  line-height: 100%;

  .ordType {
    display: table-cell;
    float: left;
    height: 100%;
    width: 45px;
    text-align: center;
    line-height: 45px;

    i {
      text-align: center;
    }
  }

  .ordPerson {
    display: table-cell;
    line-height: 45px;
  }
}

progress {
  height: .5rem;
}

//.list-group-item-success {
//  color: @pdi-green-compDark;
//  background-color: @pdi-green-compLight;
//
//  :hover {
//    //background-color: @pdi-green;
//  }
//}
//
//.list-group-item-info {
//  color: @pdi-blue-compDark;
//  background-color: @pdi-blue-compLight;
//}
//
//.list-group-item-danger {
//  color: @pdi-pink-compDark;
//  background-color: @pdi-pink-compLight;
//}
//
//.list-group-item-warning {
//  color: @pdi-purple-compDark;
//  background-color: @pdi-purple-compLight;
//}
