<div class="card">
  <div class="card-header">
    <div class="row">

      <!-- Order Type Header -->
      <div class="col">
        <!--show on larger screens-->
        <span class="hidden-md-down">Order Info <i class="fa fa-fw fa-sort px-2 text-muted"></i></span>
        <!--for mobile screens-->
        <span class="hidden-lg-up"><i class="icon-organization"></i></span>
      </div>

      <!-- Date Header -->
      <div class="col text-center">
        <!--show on larger screens-->
        <span class="hidden-md-down">Date <i class="fa fa-fw fa-sort px-2"></i></span>
        <!--for mobile screens-->
        <span class="hidden-lg-up"><i class="icon-calendar"></i></span>
      </div>

      <!-- Order Status Header -->
      <div class="col text-center">
        <!--show on larger screens-->
        <span class="hidden-md-down">Status <i class="fa fa-fw fa-sort px-2"></i></span>
        <!--for mobile screens-->
        <span class="hidden-lg-up"><i class="icon-location-pin"></i></span>
      </div>

      <!-- Payment Info Header -->
      <div class="col text-center">
        <!--show on larger screens-->
        <span class="hidden-md-down">Payment Method <i class="fa fa-fw fa-sort px-2"></i></span>
        <!--for mobile screens-->
        <span class="hidden-lg-up"><i class="icon-wallet"></i></span>
      </div>

      <!--Action Icons Column Header -->
      <div class="col hidden-md-down text-muted text-right small">&nbsp;
        Actions
      </div>

    </div>
  </div>
  <pd-accordian [orders]="orders" [filterOrders]="orderFilterString" (orderSelected)="orderSelected($event)"></pd-accordian>
</div>
