<pd-orders-stats [orders]="orders" [currentFilter]="orderFilterString" (changeFilterString)="changeOrderFilter($event)"></pd-orders-stats>

<div class="card">
  <div class="card-header">
    <div class="row">

      <!-- Order Type Header -->
      <div class="col">
        <!--show on larger screens-->
        <span class="hidden-md-down">Order Info <i class="fa fa-fw fa-sort px-2 text-muted"></i></span>
        <!--for mobile screens-->
        <span class="hidden-lg-up"><i class="icon-organization"></i></span>
      </div>

      <!-- Date Header -->
      <div class="col text-center">
        <!--show on larger screens-->
        <span class="hidden-md-down">Date <i class="fa fa-fw fa-sort px-2"></i></span>
        <!--for mobile screens-->
        <span class="hidden-lg-up"><i class="icon-calendar"></i></span>
      </div>

      <!-- Order Status Header -->
      <div class="col text-center">
        <!--show on larger screens-->
        <span class="hidden-md-down">Status <i class="fa fa-fw fa-sort px-2"></i></span>
        <!--for mobile screens-->
        <span class="hidden-lg-up"><i class="icon-location-pin"></i></span>
      </div>

      <!-- Payment Info Header -->
      <div class="col text-center">
        <!--show on larger screens-->
        <span class="hidden-md-down">Payment Method <i class="fa fa-fw fa-sort px-2"></i></span>
        <!--for mobile screens-->
        <span class="hidden-lg-up"><i class="icon-wallet"></i></span>
      </div>

      <!--Action Icons Column Header -->
      <div class="col hidden-md-down text-muted text-right small">&nbsp;
        Actions
      </div>

    </div>
  </div>
  <pd-accordian [orders]="orders" [filterOrders]="orderFilterString"></pd-accordian>
</div>

<hr>

<pre>
  #### FUNCTIONALITY

  * Orders show on individual rows
  * Jewelery Show orders will be grouped together and user will click on row to drop-down each individual order
  associated with that show(event) order.
  * Orders submitted to the jeweler either through the jewelers personal page or created by the jeweler show here
  * Row color will indicate the status of the order (submitted to premier, processing, shipped, etc...)
  * The action column will give jewelers the ability to edit, submit, print invoice or delete an order
  * Columns should be sortable by the header column
  * Search box in the card header to search anything in the orders and a date box to search by date
  * Icon on the far left indicates order type (personal, individual, group/event)

  #### QUESTIONS

  #### IDEAS

  #### DATA
</pre>
