<ngb-carousel [interval]="8000">
  <template ngbSlide>
    <img src="https://source.unsplash.com/category/nature/1025x502" class="img-fluid" alt="Random first slide">
    <div class="carousel-caption">
      <p>Promotion images will go here, but without this text here.</p>
      <h4>Nature</h4>
    </div>
  </template>
  <template ngbSlide>
    <img src="https://source.unsplash.com/category/buildings/1025x502" alt="Random second slide">
    <div class="carousel-caption">
      <h4>Buildings</h4>
    </div>
  </template>
  <template ngbSlide>
    <img src="https://source.unsplash.com/category/technology/1025x502" alt="Random third slide">
    <div class="carousel-caption">
      <h4>Technology</h4>
    </div>
  </template>
  <template ngbSlide>
    <img src="../../../assets/images/JWS-slider-RR2017-preorder.png" alt="Random fourth slide" class="img-fluid">
    <div class="carousel-caption">
      <h4>Technology</h4>
    </div>
  </template>
</ngb-carousel>
