<div class="row mb-3">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        Past 12 months
      </div>

      <ul class="list-group">
        <li class="list-group-item list-group-item-action justify-content-between">
          Jewelry Shows
          <span class="badge badge-default badge-pill">14</span>
        </li>
        <li class="list-group-item list-group-item-action justify-content-between">
          Training Shows
          <span class="badge badge-default badge-pill">2</span>
        </li>
        <li class="list-group-item list-group-item-action justify-content-between">
          Total Shows
          <span class="badge badge-default badge-pill">1</span>
        </li>
        <li class="list-group-item list-group-item-action justify-content-between">
          Personally Sponsored
          <span class="badge badge-default badge-pill">1</span>
        </li>
        <!--<li class="list-group-item list-group-item-action justify-content-between">-->
          <!--Total Retail-->
          <!--<span class="badge badge-default badge-pill">$0.00</span>-->
        <!--</li>-->
      </ul>

      <div class="card-footer text-muted">
        Total Retail
        <span class="badge badge-success badge-pill pull-right">$0.00</span>
      </div>

    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        First Level <span class="badge badge-info pull-right">Total Active: 3</span>
      </div>

      <ul class="list-group list-group-flush">
        <li class="list-group-item list-group-item-action justify-content-between">
          New Past Month
          <span class="badge badge-default badge-pill">-</span>
        </li>
        <li class="list-group-item list-group-item-action justify-content-between">
          New Past Year
          <span class="badge badge-default badge-pill">3</span>
        </li>
        <li class="list-group-item list-group-item-action justify-content-between">
          Inactive Past Month
          <span class="badge badge-default badge-pill">-</span>
        </li>
        <li class="list-group-item list-group-item-action justify-content-between">
          Inactive Past Year
          <span class="badge badge-default badge-pill">-</span>
        </li>
      </ul>

      <div class="card-footer small text-muted">
        <span class="d-block">Downline Jewelers With Sales In Past 90 Days: <span class="badge badge-pill badge-success pull-right">2</span></span>
        <span class="d-block">Downline Jewelers Without Sales In Past 90 Days: <span class="badge badge-pill badge-danger pull-right">1</span></span>
      </div>

    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        Second Level <span class="badge badge-pill badge-info">4</span>
      </div>
      <table class="table table-sm">
        <tr>
          <td>Jewelry Shows</td>
          <td><span class="badge badge-pill badge-default">1</span></td>
        </tr>
        <tr>
          <td>Training Events</td>
          <td><span class="badge badge-pill badge-default">2</span></td>
        </tr>
        <tr>
          <td>Total Events</td>
          <td><span class="badge badge-pill badge-default">3</span></td>
        </tr>
        <tr>
          <td>Personally Sponsored</td>
          <td><span class="badge badge-pill badge-default">4</span></td>
        </tr>
      </table>
    </div>
  </div>
</div>

<div class="row mb-3">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        Third Level <span class="badge badge-pill badge-info">4</span>
      </div>
      <table class="table table-sm">
        <tr>
          <td>Jewelry Shows</td>
          <td><span class="badge badge-pill badge-default">1</span></td>
        </tr>
        <tr>
          <td>Training Events</td>
          <td><span class="badge badge-pill badge-default">2</span></td>
        </tr>
        <tr>
          <td>Total Events</td>
          <td><span class="badge badge-pill badge-default">3</span></td>
        </tr>
        <tr>
          <td>Personally Sponsored</td>
          <td><span class="badge badge-pill badge-default">4</span></td>
        </tr>
      </table>
    </div>
  </div>
</div>
