<div class="card">
  <div class="card-block">
    <h4 class="card-title">
      Training Page
    </h4>
    <p class="card-text">
      One full page "card" with tabs or nav pills to filter the different training resources.
    </p>
  </div>
</div>



<pre>
  <markdown>
    #### FUNCTIONALITY

    - This page will be similar to the [Jeweler Training](https://jeweler.premierdesigns.com/en/training) page that the jewelers have now.

    #### DATA
    #### QUESTIONS
    #### IDEAS

    * We should over-haul this to be more focused instead of just random videos for the user to watch
    ** Some sort of training paths that the jewelers can take that they are guided through
  </markdown>
</pre>
