<div class="row">
  <div class="col-md-4">
    <div class="card card-block">
      <h5 class="card-title">title1</h5>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-block">
      <h5 class="card-title">title2</h5>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-block">
      <h5 class="card-title">title3</h5>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="card card-block">
      <h5 class="card-title">Upcoming Shows</h5>
      <table class="table table-hover table-striped">
        <tr>
          <td>some data</td>
        </tr>
      </table>
    </div>
  </div>
</div>
