<nav class="bg-inverse navbar navbar-full navbar-dark">
  <ul class="nav navbar-nav pull-right hidden-sm-down">
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fa fa-question-circle-o fa-fw"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fa fa-bell fa-fw"></i>
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link">
        <i class="fa fa-user fa-fw"></i>
      </a>
    </li>
  </ul>
</nav>
