<div class="h-100">
  <div class="row h-100 no-gutters">
    <div class="col-md-2 col-lg-2 col-xl-2 h-100 hidden-sm-down side-bar-wrapper collapse" [ngClass]="theme.currentBackground">
      <pd-side-bar></pd-side-bar>
    </div>
    <!-- Main Content -->
    <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10 h-100 offset-md-2 offset-lg-2 offset-xl-2 main-panel px-0">
      <pd-action-bar></pd-action-bar>
      <div class="bg-faded h-100 p-3 container-fluid">
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>
</div>
