<div class="side-bar">
  <!-- Title Row -->
  <div class="container">
    <div class="row p-3 text-center hidden-md-down">
      <div class="col">
        <img src="../assets/images/Logo-Stacked-white.png" class="img-fluid" style="width: 50%; height: auto;">
      </div>
    </div>

    <hr class="mt-0">

    <div class="user">
      <div class="photo">
        <img src="https://randomuser.me/api/portraits/women/10.jpg" alt="" class="img-fluid rounded-circle">
      </div>
      <div class="row info">
        <div class="col-sm-12 text-sm-center">
          <a class="btn profile-dropdown" (click)="toggleTray()">User Name <i class="fa fa-fw icon-arrow-down small"></i></a>
          <div [@openTray]="state" *ngIf="state == 'open'">
            <ul class="nav flex-column">
              <li class="nav-item">
                <a [routerLink]="['/profile']" routerLinkActive="active" routerLink="/profile"
                   class="nav-link">Profile</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/account']" routerLinkActive="active" class="nav-link">Account</a>
              </li>
              <li class="nav-item">
                <a [routerLink]="['/settings']" routerLinkActive="active" class="nav-link">Settings</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>

    <hr>

    <ul class="nav nav-pills flex-column text-md-left">
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']">
          <i class="fa fa-fw icon-graph"></i>
          <span class="hidden-md-down">Dashboard</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/orders']">
          <i class="fa fa-fw icon-basket-loaded"></i>
          <span class="hidden-md-down">Orders</span>
          <span class="badge badge-pill badge-default">5</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/events']">
          <i class="fa fa-fw icon-event"></i>
          <span class="hidden-md-down">Events</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/resources']"><i
          class="fa fa-fw icon-layers"></i>
          <span class="hidden-md-down">Resources</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/training']"><i
          class="fa fa-fw icon-graduation"></i>
          <span class="hidden-md-down">Training</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLinkActive="active" [routerLink]="['/familytree']"><i
          class="fa fa-fw fa-pagelines"></i>
          <span class="hidden-md-down">Family Tree</span>
        </a>
      </li>
    </ul>
  </div>

</div>

<div class="sidebar-background"></div>
