<div class="side-bar">
  <div class="navbar navbar-light">
    <span class="navbar-text">Jeweler Dashboard</span>
  </div>

  <hr class="mt-0">

  <div class="user">
    <div class="row photo">
      <div class="col-xs-4 text-xs-center offset-xs-4">
        <img src="https://randomuser.me/api/portraits/lego/6.jpg" alt="" class="img-fluid rounded-circle">
      </div>
    </div>
    <div class="row info">
      <div class="col-xs-12 text-xs-center">
        <a (click)="isCollapsed = !isCollapsed">User Name</a>
        <div [ngbCollapse]="isCollapsed">
          <ul class="nav">
            <li class="nav-item">
              <a href="#" class="nav-link">Profile</a>
            </li>
            <li class="nav-item"><a href="#" class="nav-link">Account</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Settings</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <hr>

  <ul class="nav nav-pills nav-stacked">
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/dashboard']">
        <i class="fa fa-fw fa-dashboard"></i>Dashboard
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/orders']"><i class="fa fa-fw fa-clipboard"></i>Orders</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLinkActive="active" [routerLink]="['/shows']"><i class="fa fa-fw fa-shopping-bag"></i>Shows</a>
    </li>
  </ul>

</div>

<div class="sidebar-background"></div>
