<div class="row mt-1">
  <div class="col">
    <div class="info-box">
      <span class="info-box-icon bg-pdiGreen" (click)="changeOrderFilter('Event')">
        <i class="icon-event"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Event Orders</span>
        <p class="info-box-number">15</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="info-box">
      <span class="info-box-icon bg-pdiPink" (click)="changeOrderFilter('Individual')">
        <i class="icon-user-female"></i>
      </span>
      <div class="info-box-content">
        <!--<span class="info-box-text">Individual/Web Orders</span>-->
        <span class="info-box-text">Customer Orders</span>
        <p class="info-box-number">100</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="info-box">
      <span class="info-box-icon bg-pdiBlue" (click)="changeOrderFilter('Personal')">
        <i class="icon-briefcase"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Personal Orders</span>
        <p class="info-box-number">5</p>
      </div>
    </div>

  </div>

  <div class="col-2" *ngIf="currentFilter">
    <a class="btn btn-link text-uppercase align-bottom small" (click)="changeOrderFilter('')"><i class="fa fa-fw fa-close"></i> Clear Filter</a>
  </div>
