<div class="row mt-1">
  <div class="col">
    <div class="info-box">
      <span class="info-box-icon bg-pdiGreen">
        <i class="icon-event"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Orders from Events</span>
        <p class="info-box-number">15</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="info-box">
      <span class="info-box-icon bg-pdiPink">
        <i class="icon-mustache"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Individual/Web Orders</span>
        <p class="info-box-number">100</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="info-box">
      <span class="info-box-icon bg-pdiBlue">
        <i class="icon-user-female"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Personal Orders</span>
        <p class="info-box-number">5</p>
      </div>
    </div>
  </div>


</div>
