<nav class="navbar navbar-toggleable-md navbar-light">
  <a class="navbar-brand"><i class="icon-options-vertical"></i> </a>

  <form class="form-inline my-2 my-lg-0">
    <!--<input class="form-control mr-sm-2" type="text" placeholder="Search">-->
    <pd-action-bar-search></pd-action-bar-search>
  </form>

  <button class="navbar-toggler navbar-toggler-right"
          type="button"
          data-toggle="collapse"
          data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <pd-mobile-side-bar></pd-mobile-side-bar>
  </div>
  <div class="navbar-toggler-right">
    <pd-quick-action-icons></pd-quick-action-icons>
  </div>

</nav>
