<h1>Order Detail Works!</h1>

<!--<div class="ui fluid raised card" *ngIf="order && order.orderType !== 'Event'">-->
  <!--<div class="ui bottom attached progress" data-value="75" data-total="100">-->
    <!--<div class="bar"></div>-->
  <!--</div>-->
  <!--<div class="content">-->
    <!--<div class="header">Order Details</div>-->
    <!--<div class="meta">-->
      <!--<span class="right floated time">{{order.orderDate}}</span>-->
      <!--<span>{{order.firstName}} {{order.lastName}}</span>-->
    <!--</div>-->
    <!--<div class="description">-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->
