<div class="row">
  <div class="col-xs-12 col-lg-8">
    <div class="card">
      <!--<img class="card-img-top img-fluid" src="../../assets/images/JWS-slider-RR2017-preorder.png" alt="spring 2017 preorder pic">-->
      <pd-promo-carousel></pd-promo-carousel>
    </div>
  </div>
  <div class="col-xs-12 col-lg-4">
    <div class="card">
      <div class="card-block">
        <pd-sales-card></pd-sales-card>
      </div>
    </div>
  </div>
  <div class="col-xs-12 col-lg-4">
    <div class="card">
      <div class="card-block">
        <p>Another Card</p>
      </div>
    </div>
  </div>
</div>

<hr>

<pre>
  <code>
    <markdown>
      #### FUNCTIONALITY

      - Each "white box" on the dashboard page represents a card with a widget showing various bits of data
      - Some of these boxes will be customizable by the jeweler, some will not.
      - Action bar across the top will be for search, help/support, quick-add (order, show, contact, etc), and notifications
      - Cards can be customized on where they sit and how big they are

      #### QUESTIONS

      #### IDEAS

      Cards:
      - Sales
        - Year-to-date
        - vs. previous year
        - past six months (or some other amount)
      - Upcoming Shows
      - Current promotions
      - New jewelers in my downline

      FUTURE
      - Add community, 'social media' type functionality to the entire dashboard

      #### DATA

      The data that shows up and needs to be connected here will vary and change based on what cards/widgets are showing on the dashboard.
    </markdown>
  </code>
</pre>
