<div class="row mt-2">
  <div class="col-8">
    <div class="card">
      <div class="card-header">
        <div class="row">
          <div class="col">
            Next Event
          </div>
          <div class="col text-right">
            <pd-card-icons></pd-card-icons>
          </div>
        </div>
      </div>
      <div class="card-block">
        <div class="card-title">
          <div class="row">
            <div class="col-6">
              <h5>National Rally is coming!</h5>
            </div>
            <div class="col-6 text-right">
              <a href="#" class="text-danger text-uppercase"><b><i class="fa fa-fw fa-calendar-check-o"></i> Register Now!</b></a>
            </div>
          </div>
        </div>
        <div class="card-text">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae culpa dolore dolores fuga fugiat ipsa ipsum iusto laudantium libero minima, molestiae, perspiciatis quas quasi rem suscipit tempore voluptate! Excepturi, pariatur?
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-block">
        <div class="float-right">
          <!--<pd-card-icons></pd-card-icons>-->
        </div>
        <div class="card-title">
          <h5>Card 2</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <div class="card">
      <div class="card-block py-5">
        <div class="card-title">
          <h5>Card 1</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-block py-5">
        <div class="card-title">
          <h5>Card 2</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-block py-5">
        <div class="card-title">
          <h5>Card 3</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <div class="info-box h-100">
      <span class="info-box-icon bg-pdiGreen">
        <i class="icon-event"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Orders from Events</span>
        <p class="info-box-number">15</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="info-box">
      <span class="info-box-icon bg-pdiPink">
        <i class="icon-mustache"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Individual/Web Orders</span>
        <p class="info-box-number">100</p>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="info-box">
      <span class="info-box-icon bg-pdiBlue">
        <i class="icon-user-female"></i>
      </span>
      <div class="info-box-content">
        <span class="info-box-text">Personal Orders</span>
        <p class="info-box-number">5</p>
      </div>
    </div>
  </div>

</div>

<div class="row mt-2">
  <div class="col">
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          <h5>Card 1</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          <h5>Card 2</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          <h5>Card 3</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          <h5>Card 4</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">
  <div class="col">
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          <h5>Card 1</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col-6">
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          <h5>Card 2</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          <h5>Card 3</h5>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="card">
      <div class="card-block">
        <div class="card-title">
          <h5>Card 4</h5>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row mt-2">

  <div class="col-8">

    <div class="card">
      <div class="card-header">
        Your Next Jewelry Show
        <ul class="card-tools list-inline pull-right mb-0">
          <li class="list-inline-item text-muted small">
            <i class="fa fa-fw fa-window-minimize" data-toggle="collapse" data-target="#nextEvent"
               aria-expanded="true" aria-controls="nextEvent"></i>
          </li>
        </ul>
      </div>
      <div class="collapse show" id="nextEvent">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-12 col-md-8">
              <div class="embed-responsive embed-responsive-16by9">
                <iframe class="embed-responsive-item"
                        frameborder="0" style="border:0"
                        src="https://www.google.com/maps/embed/v1/place?key=AIzaSyAMgLxIhSj5lKlJrvXSz-HEqQ23HH1-cFo&q=Premier+Designs,Irving+TX"
                        allowfullscreen>
                </iframe>
              </div>
              <!--<sebm-google-map [latitude]="lat" [longitude]="lng">-->
              <!--<sebm-google-map-marker [latitude]="lat" [longitude]="lng"></sebm-google-map-marker>-->
              <!--</sebm-google-map>-->
            </div>
            <div class="col-sm-12 col-md-4">
              <h6 class="card-title">
                <small>01/01/2017</small>
                <br>Host Name
              </h6>
              <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
              <a href="#" class="btn btn-primary">Action Button</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="col-4">
    <pd-sales-card></pd-sales-card>
  </div>

</div>


<!--<h6>Current Promotions</h6>-->
<!--<div class="row" style="height: 125px;">-->
  <!--<div class="col-sm">-->
    <!--<div class="card card-inverse h-100" style="overflow: hidden; background-image: url('../../assets/images/PromoImages/JWS-slider-RR2017-preorder.png')">-->
      <!--<div class="card-img" src="" alt="Card image"></div>-->
      <!--<div class="card-img-overlay">-->
        <!--<h4 class="card-title">Card title</h4>-->
        <!--&lt;!&ndash;<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="col-sm">-->
    <!--<div class="card card-inverse h-100" style="overflow: hidden; background-image: url('../../assets/images/PromoImages/JWS-HolidayHostess.png')">-->
      <!--<div class="card-img" src="" alt="Card image"></div>-->
      <!--<div class="card-img-overlay">-->
        <!--<h4 class="card-title">Card title</h4>-->
        <!--&lt;!&ndash;<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="col-sm">-->
    <!--<div class="card card-inverse h-100" style="overflow: hidden; background-image: url('../../assets/images/PromoImages/JWS-SL-DoubleBonusOct.png')">-->
      <!--<div class="card-img" src="" alt="Card image"></div>-->
      <!--<div class="card-img-overlay">-->
        <!--<h4 class="card-title">Card title</h4>-->
        <!--&lt;!&ndash;<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

  <!--<div class="col-sm">-->
    <!--<div class="card card-inverse h-100" style="overflow: hidden; background-image: url('../../assets/images/PromoImages/JWS_jan-feb-sponsor.png')">-->
      <!--<div class="card-img" src="" alt="Card image"></div>-->
      <!--<div class="card-img-overlay">-->
        <!--<h4 class="card-title">Card title</h4>-->
        <!--&lt;!&ndash;<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>&ndash;&gt;-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</div>-->

<!--<h6>Row with 4 columns</h6>-->
<!--<div class="row mb-3">-->
  <!--<div class="col-sm-12 col-md-6 col-lg-3">1</div>-->
  <!--<div class="col-sm-12 col-md-6 col-lg-3">2</div>-->
  <!--<div class="col-sm-12 col-md-6 col-lg-3">3</div>-->
  <!--<div class="col-sm-12 col-md-6 col-lg-3">4</div>-->
<!--</div>-->

<!--<div class="row mb-3">-->
  <!--<div class="col-sm-12 col-md-6 col-lg-4 bg-primary">-->
    <!--1 of 3-->
  <!--</div>-->
  <!--<div class="col-sm-12 col-md-6 col-lg-4 bg-info">-->
    <!--2 of 3-->
  <!--</div>-->
  <!--<div class="col-sm-12 col-md-6 col-lg-4 bg-success">-->
    <!--3 of 3-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
  <!--<div class="col-8">col-8</div>-->
  <!--<div class="col-4">col-4</div>-->
<!--</div>-->

<!--<div class="row">-->
  <!--<div class="col-sm-8">col-sm-8</div>-->
  <!--<div class="col-sm-4">col-sm-4</div>-->
<!--</div>-->

<!--<div class="row mb-3">-->
  <!--<div class="col-lg-3">-->
    <!--<pd-current-month-sales></pd-current-month-sales>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row">-->
  <!--<div class="col-xs-12 col-lg-4">-->
    <!--<pd-sales-card></pd-sales-card>-->
  <!--</div>-->
<!--</div>-->

<!--<div class="row">-->

<!--</div>-->

<hr>

<pre>
  <code>
    #### FUNCTIONALITY

      - Each "white box" on the dashboard page represents a card with a widget showing various bits of data
      - Some of these boxes will be customizable by the jeweler, some will not.
      - Action bar across the top will be for search, help/support, quick-add (order, show, contact, etc), and notifications
      - Cards can be customized on where they sit and how big they are

      #### QUESTIONS

      #### IDEAS

      Cards:
      - Sales
        - Year-to-date
        - vs. previous year
        - past six months (or some other amount)
      - Upcoming Shows
      - Current promotions
      - New jewelers in my downline

      FUTURE
      - Add community, 'social media' type functionality to the entire dashboard

      #### DATA

      The data that shows up and needs to be connected here will vary and change based on what cards/widgets are showing on the dashboard.
  </code>
</pre>
