<div [ngSwitch]="order.orderType">

  <div class="align-items-center mx-0">
    <div (click)="onSelect(order)" class="row list-group-item list-group-item-action border-0 mx-0 py-3" [routerLink]="order.orderType !== 'Event' ? ['/orders/orderdetail'] : []">

      <!--Order Information-->
      <div class="col">
        <div class="row">
          <div class="col-2">
            <i *ngSwitchCase="'Personal'" class="icon-briefcase"></i>
            <i *ngSwitchCase="'Event'" class="icon-event"></i>
            <i *ngSwitchCase="'Individual'" class="icon-user-female"></i>
            <i *ngSwitchCase="'Online'" class="icon-basket-loaded"></i>
          </div>
          <div class="col">
            <span class="hidden-sm-down">{{order.firstName}} {{order.lastName}}</span>
            <span class="hidden-md-up small">{{order.lastName}}</span>
            <span class="text-muted small d-block hidden-sm-down">{{order.ordAddresses}}</span>
          </div>
        </div>
      </div>

      <!-- Order Date -->
      <div class="col text-center">
        <span class="hidden-sm-down">{{order.orderDate}}</span>
        <span class="hidden-lg-up small">{{order.orderDate}}</span>
      </div>

      <!-- Order Status-->
      <div class="col" [ngSwitch]="order.orderStatus">

        <h6 *ngSwitchCase="'Shipped'" class="text-success mb-0 small">{{order.orderStatus}} <span
          class="d-block text-muted small">{{order.shippingMethod}}</span></h6>
        <h6 *ngSwitchCase="'Processing'" class="text-warning mb-0">{{order.orderStatus}}</h6>
        <h6 *ngSwitchCase="'Errors'" class="text-danger mb-0">{{order.orderStatus}}</h6>
        <h6 *ngSwitchCase="'Submitted'" class="text-info mb-0">{{order.orderStatus}}</h6>
        <h6 *ngSwitchCase="'Open'" class="text-muted mb-0">{{order.orderStatus}}</h6>

      </div>

      <!-- Order Payment Type -->
      <div class="col payment-column" [ngSwitch]="order.payment">
        <i *ngSwitchCase="'creditcard'" class="icon-credit-card"></i>
        <i *ngSwitchCase="'cash'" class="fa fa-fw fa-money"></i>
        <i *ngSwitchCase="'check'" class="fa fa-check"></i>
      </div>

      <!-- Action Icons for larger displays -->
      <div class="col hidden-md-down">
        <pd-action-icons></pd-action-icons>
      </div>

    </div>

    <!--Bottom progress border.-->
    <div class="row">
      <div class="col-12">
        <div class="progress" [ngSwitch]="order.orderStatus">
          <div *ngSwitchCase="'Shipped'" class="progress-bar bg-success" role="progressbar"
               [ngStyle]="{'width': order.progress + '%', 'height': '1px'}" aria-valuenow="25" aria-valuemin="0"
               aria-valuemax="100"></div>
          <div *ngSwitchCase="'Processing'" class="progress-bar bg-warning" role="progressbar"
               [ngStyle]="{'width': order.progress + '%', 'height': '1px'}" aria-valuenow="25" aria-valuemin="0"
               aria-valuemax="100"></div>
          <div *ngSwitchCase="'Errors'" class="progress-bar bg-danger" role="progressbar"
               [ngStyle]="{'width': order.progress + '%', 'height': '1px'}" aria-valuenow="25" aria-valuemin="0"
               aria-valuemax="100"></div>
          <div *ngSwitchCase="'Submitted'" class="progress-bar bg-info" role="progressbar"
               [ngStyle]="{'width': order.progress + '%', 'height': '1px'}" aria-valuenow="25" aria-valuemin="0"
               aria-valuemax="100"></div>
          <div *ngSwitchCase="'Open'" class="progress-bar" role="progressbar"
               [ngStyle]="{'width': '0%' ,'height': '1px'}" aria-valuenow="0" aria-valuemin="0"
               aria-valuemax="100"></div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="progress" [ngSwitch]="order.orderStatus">
          <div *ngSwitchCase="'Shipped'" class="progress-bar bg-success" role="progressbar"
               [ngStyle]="{'width': order.progress + '%', 'height': '1px'}" aria-valuenow="25" aria-valuemin="0"
               aria-valuemax="100"></div>
          <div *ngSwitchCase="'Processing'" class="progress-bar bg-warning" role="progressbar"
               [ngStyle]="{'width': order.progress + '%', 'height': '1px'}" aria-valuenow="25" aria-valuemin="0"
               aria-valuemax="100"></div>
          <div *ngSwitchCase="'Errors'" class="progress-bar bg-danger" role="progressbar"
               [ngStyle]="{'width': order.progress + '%', 'height': '1px'}" aria-valuenow="25" aria-valuemin="0"
               aria-valuemax="100"></div>
          <div *ngSwitchCase="'Submitted'" class="progress-bar bg-info" role="progressbar"
               [ngStyle]="{'width': order.progress + '%', 'height': '1px'}" aria-valuenow="25" aria-valuemin="0"
               aria-valuemax="100"></div>
          <div *ngSwitchCase="'Open'" class="progress-bar" role="progressbar"
               [ngStyle]="{'width': '0%' ,'height': '1px'}" aria-valuenow="0" aria-valuemin="0"
               aria-valuemax="100"></div>
        </div>
      </div>
    </div>
  </div>

</div>

<div *ngIf="extended" @showContent class="row mx-0 bg-faded">
  <ng-content></ng-content>
</div>
