<a class="item" routerLinkActive="active" [routerLink]="['/dashboard']">Dashboard</a>
<a class="item" routerLinkActive="active" [routerLink]="['/orders']">Orders</a>
<a class="item" routerLinkActive="active" [routerLink]="['/events']">Events</a>
<a class="item" routerLinkActive="active" [routerLink]="['/resources']">Resources</a>
<a class="item" routerLinkActive="active" [routerLink]="['/training']">Training</a>
<a class="item" routerLinkActive="active" [routerLink]="['/familytree']">Family Tree</a>
<div class="dropdown-divider"></div>
<h6 class="dropdown-header">User Name</h6>
<a class="item" routerLinkActive="active" [routerLink]="['/profile']">Profile</a>
<a class="item" [routerLink]="['/account']" routerLinkActive="active">Account</a>
<a class="item" [routerLink]="['/settings']" routerLinkActive="active">Settings</a>
