/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i');

@pdi-purple: #975fa7;
@pdi-orange: #f0473d;
@pdi-pink: #e8417b;
@pdi-green: #72c596;
@pdi-blue: #59c5c7;
@pdi-grey: #8a8c8d;

@pdi-purple-compDark: #502A5A;
@pdi-orange-compDark: #A32119;
@pdi-pink-compDark: #9B1C48;
@pdi-green-compDark: #3A7855;
@pdi-blue-compDark: #2B797A;
@pdi-grey-compDark: #393E40;

@pdi-purple-compLight: #A97AB6;
@pdi-orange-compLight: #FF645A;
@pdi-pink-compLight: #F75E93;
@pdi-green-compLight: #90D4AD;
@pdi-blue-compLight: #75D4D6;
@pdi-grey-compLight: #9C9C9C;

@pdi-purple-rgb: rgb(151, 95, 167);
@pdi-orange-rgb: rgb(240, 71, 61);
@pdi-pink-rgb: rgb(232, 65, 123);
@pdi-green-rgb: rgb(114, 197, 150);
@pdi-blue-rgb: rgb(89, 197, 199);
@pdi-grey-rgb: rgb(138, 140, 141);

body, h1, .h1, h2, .h2, h3, .h3, h4, .h4, h5, .h5, h6, .h6, p, .navbar, .brand, .btn-simple, .alert, a, .td-name, td, button.close {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-family: "Lato","Helvetica Neue",Arial,sans-serif;
  //font-weight: 400;
}

html {
  height: 100%;
}
body {
  height: 100%;
  min-height: 100%;
}

.side-bar-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  //width: 260px;
  display: block;
  z-index: 1;
  color: #fff;
}

.side-bar {
  z-index: 4;
  position: relative;
}

.side-bar-wrapper[data-color="orange"]:after {
  background: @pdi-orange;
  background: -moz-linear-gradient(top, @pdi-orange-compLight 0%, @pdi-orange-compDark 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @pdi-orange-compLight), color-stop(100%, @pdi-orange-compDark));
  background: -webkit-linear-gradient(top, @pdi-orange-compLight 0%, @pdi-orange-compDark 100%);
  background: -o-linear-gradient(top, @pdi-orange-compLight 0%, @pdi-orange-compDark 100%);
  background: -ms-linear-gradient(top, @pdi-orange-compLight 0%, @pdi-orange-compDark 100%);
  background: linear-gradient(to bottom, @pdi-orange-compLight 0%, @pdi-orange-compDark 100%);
  background-size: 150% 150%;
}

.side-bar-wrapper[data-color="purple"]:after {
   background: @pdi-purple;
   background: -moz-linear-gradient(top, @pdi-purple-compLight 0%, @pdi-purple-compDark 100%);
   background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @pdi-purple-compLight), color-stop(100%, @pdi-purple-compDark));
   background: -webkit-linear-gradient(top, @pdi-purple-compLight 0%, @pdi-purple-compDark 100%);
   background: -o-linear-gradient(top, @pdi-purple-compLight 0%, @pdi-purple-compDark 100%);
   background: -ms-linear-gradient(top, @pdi-purple-compLight 0%, @pdi-purple-compDark 100%);
   background: linear-gradient(to bottom, @pdi-purple-compLight 0%, @pdi-purple-compDark 100%);
   background-size: 150% 150%;
 }

.side-bar-wrapper[data-color="green"]:after {
  background: @pdi-green;
  background: -moz-linear-gradient(top, @pdi-green-compLight 0%, @pdi-green-compDark 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @pdi-green-compLight), color-stop(100%, @pdi-green-compDark));
  background: -webkit-linear-gradient(top, @pdi-green-compLight 0%, @pdi-green-compDark 100%);
  background: -o-linear-gradient(top, @pdi-green-compLight 0%, @pdi-green-compDark 100%);
  background: -ms-linear-gradient(top, @pdi-green-compLight 0%, @pdi-green-compDark 100%);
  background: linear-gradient(to bottom, @pdi-green-compLight 0%, @pdi-green-compDark 100%);
  background-size: 150% 150%;
}

.side-bar-wrapper[data-color="blue"]:after {
  background: @pdi-blue;
  background: -moz-linear-gradient(top, @pdi-blue-compLight 0%, @pdi-blue-compDark 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @pdi-blue-compLight), color-stop(100%, @pdi-blue-compDark));
  background: -webkit-linear-gradient(top, @pdi-blue-compLight 0%, @pdi-blue-compDark 100%);
  background: -o-linear-gradient(top, @pdi-blue-compLight 0%, @pdi-blue-compDark 100%);
  background: -ms-linear-gradient(top, @pdi-blue-compLight 0%, @pdi-blue-compDark 100%);
  background: linear-gradient(to bottom, @pdi-blue-compLight 0%, @pdi-blue-compDark 100%);
  background-size: 150% 150%;
}

.side-bar-wrapper[data-color="grey"]:after {
  background: @pdi-grey;
  background: -moz-linear-gradient(top, @pdi-grey-compLight 0%, @pdi-grey-compDark 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @pdi-grey-compLight), color-stop(100%, @pdi-grey-compDark));
  background: -webkit-linear-gradient(top, @pdi-grey-compLight 0%, @pdi-grey-compDark 100%);
  background: -o-linear-gradient(top, @pdi-grey-compLight 0%, @pdi-grey-compDark 100%);
  background: -ms-linear-gradient(top, @pdi-grey-compLight 0%, @pdi-grey-compDark 100%);
  background: linear-gradient(to bottom, @pdi-grey-compLight 0%, @pdi-grey-compDark 100%);
  background-size: 150% 150%;
}

.side-bar-wrapper[data-color="pink"]:after {
  background: @pdi-pink;
  background: -moz-linear-gradient(top, @pdi-pink-compLight 0%, @pdi-pink-compDark 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, @pdi-pink-compLight), color-stop(100%, @pdi-pink-compDark));
  background: -webkit-linear-gradient(top, @pdi-pink-compLight 0%, @pdi-pink-compDark 100%);
  background: -o-linear-gradient(top, @pdi-pink-compLight 0%, @pdi-pink-compDark 100%);
  background: -ms-linear-gradient(top, @pdi-pink-compLight 0%, @pdi-pink-compDark 100%);
  background: linear-gradient(to bottom, @pdi-pink-compLight 0%, @pdi-pink-compDark 100%);
  background-size: 150% 150%;
}

.side-bar-wrapper:before {
  opacity: .33;
  background: #000000;
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}

.side-bar-wrapper:after, .bootstrap-navbar:after {
  background: #787878;
  background: -moz-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #787878), color-stop(100%, rgba(52, 52, 52, 0.7)));
  background: -webkit-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
  background: -o-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
  background: -ms-linear-gradient(top, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
  background: linear-gradient(to bottom, #787878 0%, rgba(52, 52, 52, 0.7) 100%);
  background-size: 150% 150%;
  z-index: 3;
  opacity: 1;
}

.side-bar-wrapper:after, .side-bar-wrapper:before, .bootstrap-navbar:after, .bootstrap-navbar:before {
  display: block;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 1;
}

.sidebar-background {
  position: absolute;
  z-index: 2;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  background-image: url("https://source.unsplash.com/category/nature/1600x900");
  opacity: 0.075;
}

.side-bar .nav .nav-item .nav-link {
   color: #ffffff;
   opacity: .86;
 }
.side-bar .nav .nav-item a.active {
  color: #ffffff;
  opacity: 1;
  background: rgba(255,255,255,0.23);
}

.side-bar .nav .nav-item .nav-link i {
  margin-right: 15px;
  width: 30px;
  text-align: center;
}

.main-panel {
  background: #F5F5F5;
  position: relative;
  float: right;
  //width: calc(100% - 260px);
  min-height: 100%;
}

.user .photo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 4px solid rgba(255, 255, 255, 0.6);
  margin: 0 auto;
}

.card-title {
  font-weight: 300;
}

label {
  text-transform: uppercase;
}
