<div class="ui feed">
  <div class="event">
    <div class="label">
      <img src="https://robohash.org/chrisharris.png">
    </div>
    <div class="content">
      <div class="date">
        yesterday
      </div>
      <div class="summary">
        <a>Premier Designs</a> added 2 new photos to Instagram!
      </div>
      <div class="extra images">
        <a><img src="https://robohash.org/instagram.png"></a>
        <a><img src="https://robohash.org/facebook.png"></a>
      </div>
    </div>
  </div>

  <div class="ui divider"></div>

  <div class="event">
    <div class="label">
      <img src="https://robohash.org/tonystark.png">
    </div>
    <div class="content">
      <div class="date">
        10 days ago
      </div>
      <div class="summary">
        You signed up to be a jeweler!
      </div>
    </div>
  </div>

  <div class="ui divider"></div>

  <div class="event">
    <div class="label">
      <img src="https://robohash.org/peterparker.png">
    </div>
    <div class="content">
      <div class="date">
        200 days ago
      </div>
      <div class="summary">
        You signed up to be a jeweler!
      </div>
    </div>
  </div>

  <div class="event">
    <div class="label">
      <img src="https://robohash.org/jamesDavis.png">
    </div>
    <div class="content">
      <div class="date">
        200 days ago
      </div>
      <div class="summary">
        You signed up to be a jeweler!
      </div>
    </div>
  </div>
</div>
